<p id="notice"><%= notice %></p>

<h1><%= link_to @project.name, @project.prodURL %></h1>
<p class="centered"><%= @project.status %></p>
<div>
  <p>
    <%= @project.description %>
  </p>
</div>

<div>
  <% @project.involvements.each do |involvement| %>
  <b><%= link_to involvement.member.fname, involvement.member %></b>
  <br>
  <%= involvement.role %>
  <br>
  <br>
  <% end %>
</div>

<div>
  <p>
    <b>License:</b>
    <%= @project.license %>
  </p>
  <p>
    <% if !@project.repo.empty? %>
    <b>Repository:</b>
    <%= link_to @project.repo, @project.repo %>
    <% else %>
    <i><b>no repo yet</b></i>
    <% end -%>
  </p>
</div>
<% if current_user %>
<div>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Destroy', @project, confirm: 'Are you sure?', method: :delete %> |
  <%= link_to 'Back', projects_path %>
</div>
<% end %>