<%= form_for(@involvement) do |f| %>
  <% if @involvement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@involvement.errors.count, "error") %> prohibited this involvement from being saved:</h2>

      <ul>
      <% @involvement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label :contributions %><br />
    <%= f.text_area :contributions %>
  </div>
  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.number_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
