<p id="notice"><%= notice %></p>

<p>
  <b>Role:</b>
  <%= @involvement.role %>
</p>

<p>
  <b>Contributions:</b>
  <%= @involvement.contributions %>
</p>

<p>
  <b>Member:</b>
  <%= @involvement.member_id %>
</p>

<p>
  <b>Project:</b>
  <%= @involvement.project_id %>
</p>

<%= link_to 'Destroy', @involvement, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Edit', edit_involvement_path(@involvement) %> |
<%= link_to 'Back', involvements_path %>
