<p id="notice"><%= notice %></p>
<div>
  <p>
    <h1><%= @member.fname %> <%= @member.lname %></h1>
    <% if @member.leftHanded? %>
      <h2>"lefty"</h2>
    <% end %>
  </p>
  <br>
  <p>
    <%= @member.biography %>
  </p>
  <br>
  <p>
    <% @member.involvements.each do |involvement| %>
    <div class="bordered">
      <h2><%= link_to involvement.project.name, involvement.project %></h2>
      <b><%= involvement.role %></b><br>
      <%= involvement.contributions%>
    </div>
  </p>
    <% end %>
  <br>
  <p>
    <%= mail_to @member.email %>
  </p>

  <p>
    <b>Twitter:</b>
    <%= @member.twitter %>
  </p>

  <p>
    <b>Homepage:</b>
    <%= link_to @member.homepage,@member.homepage %>
  </p>
</div>
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
